body  {

}

a:focus { 
	outline:none; /*usuwanie niebieskiej obwódki w FF*/
}

#kontener {

}


#formularz {

}

#formularz div {

}

#formularz label {
	display: block;
}

#formularz textarea {
	resize:none;
	width: 218px;
	min-width: 218px;
	max-width: 218px;
	height: 152px;
	min-height: 152px;
	max-height: 152px;
}

#formularz input[type=text] {
	width: 206px;
}

#blad {
	background: #ff0000;
	padding: 10px;
}

#blad p{

}

#sukces {

}

#sukces p{

}

.red {
	color: #ff0000;
}

ul {
	list-style-position: inside;
    list-style-type: disc;
    padding: 0px 0px 0px 20px;
    color: #666666;
    display: block;
}

li
{
	text-align: center;
    display: block;
}